html {
    background-color: #ebece3;
  }
  

  body {
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }
  

/* IMAGE */
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 30vh;           /* Full viewport height */
}

.container img {
    max-width: 100%; /* Ensures the image doesn't overflow the container */
    scale: 0.64
}


/* BUTTONS*/
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;  /* Adjust as needed */
    margin: 20px auto;  /* Center the container horizontally */
}

.btn {
    padding: 10px 20px;      /* Space around the text */
    text-decoration: none;  /* Removes the underline */
    background-color: transparent;  /* No background color */
    color: #333;  /* Initial text color */
    font-weight: 900;  /* Slightly bigger text */
    font-size: 1.2em;
    transition: color 0.3s ease;  /* Smooth transition for color changes */
}

.btn:hover {
    color: #d7cfcf;  /* Darkened color on hover */
}

.btn-user {
    padding: 10px 20px;      /* Space around the text */
    text-decoration: none;  /* Removes the underline */
    background-color: rgb(77, 66, 66);  /* No background color */
    color: #df0f0f;  /* Initial text color */
    font-weight: 900;  /* Slightly bigger text */
    font-size: 1.2em;
    transition: color 0.3s ease;  /* Smooth transition for color changes */
}

.btn-user:hover {
    color: #8a2727;  /* Darkened color on hover */
}




/* TEXT */

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 1000;
    color: rgb(167, 53, 53);
    text-shadow: 2x 5px 1px black;
  }



h2 {
    text-align: center;
    color:rgb(167, 53, 53)
}

p
   {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 0.2em;
  }

li {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: 300;  /* match the weight specified in the @font-face rule */
}
  

/* Import Variable Font */
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}
